.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 10%;
  left: 0px;
  background-color:  rgb(85, 85, 85);
  overflow-x: hidden;
}

.sidenav button {
  width: -webkit-fill-available;
  height: 7%;
  min-height: 50px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(85, 85, 85);
  display: block;
  border: #818181 solid 1px;
  background-color:  rgb(146, 146, 146);
}

.sidenav button.active {
  color: #f1f1f1;
  font-weight:bolder;
  background-color:  rgb(94, 94, 94);
  border-left: 5px solid #fdbb3f ;
}

.sidenav button:hover {
  color: #f1f1f1;
}

.topic-error {
  margin: auto;
  padding: 50% 0%;
}
